* {
    transition: all 0.3s ease-in;
    margin: 0;
    padding: 0;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #fafafa;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* LOGO */
#contenedor-logo {
    display: flex;
    justify-content: center;
    margin-top: 144px;
    width: 100%;
}
#logo {
    max-width: 100%;   /* evita desbordes */
    height: auto;      /* mantiene proporción */
}

/* LEMA */
#contenedor-lema {
    display: flex;
    justify-content: center;
    font-size: 52px;
    margin-top: 20px;
    padding: 0 10px;
}

/* BOTÓN */
#contenedor-boton-continuar {
    display: flex;
    justify-content: center;
    margin-top: 215px;
    width: 100%;
}
#boton-continuar {
    width: 807px;      /* medida original */
    height: 200px;     /* medida original */
    background-color: #39B09D;
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
    max-width: 100%;   /* evita desbordes */
}
#boton-continuar:hover {
    background-color: #046d5b;
}


/* CAMBIO DE MODO */
#cambio-modo {
    width: 203px;
    height: 100px;
    border-radius: 50px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 0 2px;
    margin-right: 100px;
    margin-top: 100px;
}
#selector-modo-oscuro,
#selector-modo-claro {
    border-radius: 91px;
    width: 91px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selector-modo-oscuro {
    background-color: #000;
}
#selector-modo-claro {
    background-color: #fafafa;
    opacity: 1;
}
#modo-oscuro,
#modo-claro {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODO CLARO */
body.claro {
    background-color: #fafafa;
}
body.claro p {
    color: #000;
}
body.claro #cambio-modo {
    background-color: #000;
}
@media (max-width: 1600px){

    /* LOGO */
    #contenedor-logo {
        margin-top: 110px;
    }

    #logo {
        width: 344px;
        height: 216px;
    }

    /* LEMA */
    #contenedor-lema {
        margin-top: 34px;
        font-size: 34px;
        
    }

    /* BOTÓN INICIAR */
    #contenedor-boton-continuar {
        margin-top: 149px;
    }

    #boton-continuar {
        width: 568px;
        height: 140px;
        font-size: 64px;
        border-radius: 79px;
    }
    #cambio-modo{
        margin-right: 72px;
        margin-top: 55px;
        width: 84px;
        height: 48px;
    }
    #selector-modo-oscuro,
    #selector-modo-claro{
        width: 38px;
        height: 38px;
}
#modo-oscuro-img{
    width: 28px;
    height: 28px;
}
#modo-claro-img {
    width: 28px;
    height: 28px;
}
}